

<h2>Solutions I</h2>
<p>How select only birds and their sounds</p>
<kvn-birds>
  <kvn-bats #sound></kvn-bats>
  <kvn-buffalo></kvn-buffalo>
  <kvn-crows #sound></kvn-crows>
  <kvn-ducks #sound></kvn-ducks>
  <kvn-frog></kvn-frog>
  <kvn-owls #sound></kvn-owls>
  <kvn-parrots #sound></kvn-parrots>
</kvn-birds>


<h2>Solutions II</h2>
<p>How select only birds and their sounds</p>
<kvn-birds>
  <kvn-bats></kvn-bats>
  <kvn-buffalo></kvn-buffalo>
  <kvn-crows></kvn-crows>
  <kvn-ducks></kvn-ducks>
  <kvn-frog></kvn-frog>
  <kvn-owls></kvn-owls>
  <kvn-parrots></kvn-parrots>
</kvn-birds>
