<h2>RxJS</h2>


<h3>There are 4 variants of subjects:</h3>

<dl class="container description-list">
  <dt class="terms">Subject</dt>
  <dd class="descriptions">No initial value or replay behavior.</dd>

  <dt class="terms">AsyncSubject</dt>
  <dd class="descriptions">Emits latest value to observers upon completion.</dd>

  <dt class="terms">BehaviorSubject</dt>
  <dd class="descriptions">Requires an initial value and emits its current value (last emitted item) to new subscribers.</dd>

  <dt class="terms">ReplaySubject</dt>
  <dd class="descriptions">Emits specified number of last emitted values (a replay) to new subscribers.</dd>
</dl>


