
<div class="form-container__child">
  <form [formGroup]="form" autocomplete="off" class="form">
    <div class="form-container__child">
      <div class="row">
        <mat-card-title>Customization</mat-card-title>
      </div>
      <div class="row">
        <div class="column">
          <mat-form-field appearance="fill">
            <mat-label>Default Language</mat-label>
            <mat-select formControlName="defaultLanguage2" [(value)]="selectedLanguageByDefault">
              <mat-option></mat-option>
              <mat-option [value]="option.language" *ngFor="let option of countries">{{option.language}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>You selected: {{selectedLanguage}}</div>
        </div>
        <div class="column">
          <mat-form-field appearance="fill">
            <mat-label>Available Languages</mat-label>
            <mat-select formControlName="availableLanguages2">
              <mat-option *ngFor="let language of countries" [value]="language.language">{{countries.length}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

  </form>
</div>



